<h2 class="page-header">New Event</h2>
<form action="/events" method="post" enctype="multipart/form-data">
<%- include('_form_fields')%>
<br>
<div class="form-row form-row-end btn-row">
<a class="btn btn-primary" href="/events">Cancel</a>
<button type="submit" class="btn btn-primary">Create</button></div>
</form>
