<header>
<nav class="header-nav">
    <a class="header-title" href="/" >Home</a>
    <ul>
        <li><a  href="/organisers" >Organisers</a></li>
        <li><a href="/organisers/new" >New Organiser</a></li>
        <li><a href="/events" >Events</a></li>
        <li><a href="/events/new" >New Event</a></li>
    </ul>
</nav>

</header>