:root{
    --form-item-label-font:1.2rem;
    --form-input-background-color:hsl(var(--color-base-hue),100%,30%);
    --form-input-border-color: hsl(var(--color-base-hue),100%,50%);
    --form-input-border-color-light:hsl(var(--color-base-hue),100%,80%);;
}
.form-row{
    display: flex;
    margin-bottom: 1rem;
}
.form-item{
    display: flex;
    flex-direction: column;
    margin-left:2rem;
    flex-grow:1;
    flex-basis:0;
}
.form-row :first-child{
    margin-left: 0rem;
}
.form-item-no-grow{
    flex-grow: 0;
}
.form-item > label{
    font-size: var(--form-item-label-font);
    margin-bottom: 0.25rem;
    margin-left: 0.25rem;
}
.form-item select, .form-item input, .form-item textarea{
    height: 2rem;
    padding:.25rem .5rem;
    border-radius: .1rem;
    border: 1px solid var(--form-input-border-color);
    background-color:var(--form-input-background-color) ;
    color:var(--color-text-light);
    font-size: 1rem;
    font-weight: normal;
    font-family: "aerial";
    outline:none;
}
.form-item select :focus, .form-item input :focus, .form-item  textarea:focus{
    border-color: var(--form-input-border-color-light);
}
.form-item select option{
    background-color: black;
}
.form-row-end{
    justify-content: flex-end;
}
.form-item textarea{
    height: 5rem;
    resize: none;
}
