<div class="form-row">
<div class="form-item">
<label>Name</label>
<input type="text" name="name" value="<%= organiser.name%>"><br>
</div>
<div class="form-item">
<label>City</label>
<input type="text" name="city" value="<%=organiser.city%>"></div>
</div>

