<h2 class="page-header">Edit Organiser</h2>
<form action="/organisers/<%=organiser.id%>?_method=PUT" method="POST">
<%- include('_form_fields')%><br>
<div class="form-row form-row-end btn-row">
<a class="btn btn-primary" href="/organisers/<%=organiser.id%>">Cancel</a>
<button class="btn btn-primary" type="submit">Update</button>
</div>
</form>